<div class="bg-section">

    <div class="row mt-2 mr-0 ml-0">
        <div class="col-3">
            <app-stats title="Total money loaned" icon="iconoirCoinsSwap" body="5649$"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Remaining loan" icon="lucideHandCoins" body="462$"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Apy" icon="bootstrapPercent" body="5.8%"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Remaining installments" icon="tdesignBrowseGallery" body="59"></app-stats>
        </div>
    </div>

    <div class="row mt-2 mr-0 ml-0">
        <div class="col-12">
            <app-loan-graph></app-loan-graph>
        </div>
    </div>

</div>