<div class="bg-section">
  <div class="row mt-2 mr-0 ml-0">
    <div class="col-4">
      <app-stats
        title="Total money borrowed"
        icon="iconoirCoinsSwap"
        body="{{ details.totalMoneyBorrowed }} ETH"
      ></app-stats>
    </div>
    <div class="col-4">
      <app-stats
        title="Apy"
        icon="bootstrapPercent"
        body="{{ details.apy }}%"
      ></app-stats>
    </div>
    <div class="col-4">
      <app-stats
        title="Remaining installments"
        icon="tdesignBrowseGallery"
        body="{{ details.remainingInstallments }}"
      ></app-stats>
    </div>
  </div>

  <div class="card card-flush mr-3 ml-3 mt-2">
    <div class="card-header border-0">
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row justify-content-center">
          <span class="fs-5 fw-bold text-white text-nowrap">
            Upcomming payments
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-2 mr-0 ml-0">
      <table
        class="table table-dark"
        style="width: calc(100% - 20px); margin: 10px; box-sizing: border-box"
      >
        <tbody>
          <tr>
            <th>Lender</th>
            <th>Due date</th>
            <th>Installement</th>
            <th>Amount</th>
            <th></th>
          </tr>
          <tr *ngFor="let record of records">
            <td>{{ record.lender }}</td>
            <td>{{ record.installmentPaymentDate | date : "dd.MM.yyyy" }}</td>
            <td>{{ record.installmentIndex + 1 }}</td>
            <td>{{ record.installmentAmount }}</td>
            <td>
              <button
                *ngIf="record.isPaid === false; else paidTemplate"
                type="button"
                class="btn btn-success"
                (click)="onPay(record)"
              >
                Pay
              </button>
              <ng-template #paidTemplate> Paid </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
