<div class="bg-section">
    <input type="text" class="form-control search mb-1 mt-3" placeholder="Search for address or description..." [(ngModel)]="searchTerm" (input)="onSearch()"/>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Address</th>
                <th>CrediScore</th>
                <th>Amount</th>
                <th>Installments</th>
                <th>APY</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr *ngFor="let record of filteredBoardData">
                <td>{{record.address}}</td>
                <td>{{record.crediScore}}</td>
                <td>{{record.amount}}</td>
                <td>{{record.installments}}</td>
                <td>{{record.apy}}</td>
                <td>{{record.description}}</td>
                <td><button type="button" class="btn btn-info">Fund</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
