<div class="bg-section container-fluid d-flex flex-column justify-content-top align-items-center w-100">
    <div class="container mt-5 d-flex flex-column align text-center">
        <h1 class="fw-bold text-xl-start text-white me-2 lh-1 ls-n2" style="font-size: 5em;">The jurney begins here</h1>
        <!-- <h1 class="fw-bold  text-white mb-2" style="font-size: 3em;">Here</h1> -->
        <h1 class="fw-bold text-xl-end text-white mb-2" style="font-size: 5em;">
            <span style="color: #8e009c;">Credi</span>Loop
        </h1>
    </div>
    <app-typing-simulator></app-typing-simulator>
</div>