<div class="bg-section">
  <div class="row mt-2 mr-0 ml-0">
    <div class="col-3">
      <app-stats
        title="Total borrows"
        icon="iconoirCoinsSwap"
        body="5649$"
      ></app-stats>
    </div>
    <div class="col-3">
      <app-stats
        title="Remaining debt"
        icon="lucideHandCoins"
        body="462$"
      ></app-stats>
    </div>
    <div class="col-3">
      <app-stats title="Apy" icon="bootstrapPercent" body="5.8%"></app-stats>
    </div>
    <div class="col-3">
      <app-stats
        title="Remaining installments"
        icon="tdesignBrowseGallery"
        body="59"
      ></app-stats>
    </div>
  </div>

  <div class="card card-flush mr-3 ml-3 mt-2">
    <div class="card-header border-0">
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row justify-content-center">
          <span class="fs-5 fw-bold text-white text-nowrap">
            Expected payments
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-2 mr-0 ml-0">
      <table
        class="table table-dark"
        style="width: calc(100% - 20px); margin: 10px; box-sizing: border-box"
      >
        <tbody>
          <tr>
            <th>Address</th>
            <th>Due date</th>
            <th>Installement</th>
            <th>Amount</th>
          </tr>
          <tr *ngFor="let record of records">
            <td>{{ record.address }}</td>
            <td>{{ record.dueDate | date : "dd.MM.yyyy" }}</td>
            <td>{{ record.installment }} / {{ record.totalInstallments }}</td>
            <td>{{ record.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
