<div class="bg-section">
    <div class="row mt-2 pr-5 pl-5">
        <div class="col-3">
            <app-stats title="Total borrows" icon="iconoirCoinsSwap" body="5649$"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Remaining debt" icon="lucideHandCoins" body="462$"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Apy" icon="bootstrapPercent" body="5.8%"></app-stats>
        </div>
        <div class="col-3">
            <app-stats title="Remaining installments" icon="tdesignBrowseGallery" body="59"></app-stats>
        </div>
    </div>
</div>